<div class="container">

	<div class="row well">
		<div class="btn-group col-md-3" ng-hide="caseStatus.caseType === 'DMR'">
			<h3>Case Priority</h3>
			<label class="btn btn-primary" ng-model="caseStatus.casePriority" ng-change="validateDueDate()" uib-btn-radio="'Expedited'">Expedited</label>
			<label class="btn btn-primary" ng-model="caseStatus.casePriority" ng-change="validateDueDate()" uib-btn-radio="'Standard'">Standard</label>
		</div>
		<div class="col-md-3">
			<h3>Is this an Exception?</h3>
			<button type="button" class="btn btn-primary" ng-model="caseStatus.exceptionRequest" uib-btn-checkbox btn-checkbox-true="'YES'" btn-checkbox-false="'NO'" ng-change="validateDueDate()">{{caseStatus.exceptionRequest}}</button>
		</div>
		<div class="col-md-3">
			<h3>Approved?</h3>
			<button type="button" class="btn btn-primary" ng-model="caseStatus.decision" uib-btn-checkbox btn-checkbox-true="'Approved'" btn-checkbox-false="'Denied'">{{caseStatus.decision}}</button>
		</div>
		<div class="btn-group col-md-3">
			<h3>Case Type</h3>
			<label class="btn btn-primary" ng-model="caseStatus.caseType" ng-change="validateDueDate()" uib-btn-radio="'CD'">CD</label>
			<label class="btn btn-primary" ng-model="caseStatus.caseType" ng-change="validateDueDate()" uib-btn-radio="'RD'">RD</label>
			<label class="btn btn-primary" ng-model="caseStatus.caseType" ng-change="validateDueDate()" uib-btn-radio="'DMR'">DMR</label>
			<label class="btn btn-primary" ng-model="caseStatus.caseType" ng-change="validateDueDate()" uib-btn-radio="'IRE'">IRE</label>
		</div>
	</div>


	<form name="caseForm" class="row">
		<div class="col-md-6" ng-class="{'col-md-offset-3': caseStatus.exceptionRequest !== 'YES'}">
			<div class="well">
			  <label for="receivedDateInput" class="col-md-6">Received Date/Time</label>
			  <input type="datetime-local" class="col-md-6" id="receivedDateInput" name="receivedDateInput" ng-model="caseStatus.receivedDate" ng-change="validateDueDate()" min="{{restrictInput.receivedMinDate | date:'yyyy-MM-ddTHH:mm'}}" max="{{restrictInput.receivedMaxDate | date:'yyyy-MM-ddTHH:mm'}}" required>
			  <span class="label label-danger col-md-12" ng-show="caseForm.receivedDateInput.$error.required">
					<h5>Required! <i class="glyphicon glyphicon-warning-sign"></i></h5>
				</span>
				<span class="label label-warning col-md-12" ng-show="caseForm.receivedDateInput.$error.datetimelocal || caseForm.receivedDateInput.$error.min || caseForm.receivedDateInput.$error.max">
					<h5>Not a valid date! <i class="glyphicon glyphicon-warning-sign"></i></h5>
				</span>
			  <!-- <tt>min= {{restrictInput.receivedMinDate}}</tt><br>
			  <tt>max= {{restrictInput.receivedMaxDate}}</tt><br>
			  <tt>CMS format = {{caseStatus.receivedDate | date: "MMddyyyy HHmmss"}}</tt><br>
			  <tt>caseForm.receivedDateInput.$valid = {{caseForm.receivedDateInput.$valid}}</tt><br>
			  <tt>caseForm.receivedDateInput.$pristine = {{caseForm.receivedDateInput.$pristine}}</tt><br>
			  <tt>caseForm.receivedDateInput.$error = {{caseForm.receivedDateInput.$error}}</tt><br> -->
				</div>
			</div>
			<div class="col-md-6" ng-show="caseStatus.exceptionRequest === 'YES'">
				<div class="well">
			  <label for="ssDateInput" class="col-md-6">Supporting Statement Date/Time</label>
			  <input type="datetime-local" class="col-md-6" id="ssDateInput" name="ssDateInput" ng-model="caseStatus.ssDate" placeholder="{{caseStatus.receivedDate | date:'yyyy-MM-ddTHH:mm'}}" ng-change="validateDueDate()" min="{{caseStatus.receivedDate | date:'yyyy-MM-ddTHH:mm'}}" max="2020-12-31T00:00" ng-required="caseStatus.exceptionRequest === 'YES'">
			  <div role="alert">
					<span class="label label-danger col-md-12" ng-show="caseForm.ssDateInput.$error.required">
						<h5>Required! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<span class="label label-danger col-md-12" ng-show="caseForm.ssDateInput.$error.datetimelocal">
						<h5>Not a valid date! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
			  </div>

			</div>
		</div>
		<div class="col-md-6" ng-class="{'col-md-offset-3': caseStatus.decision !== 'Approved'}">
			<div class="well">
			  <label for="decisionDateInput" class="col-md-6">Decision Date/Time</label>
			  <input type="datetime-local" class="col-md-6" id="decisionDateInput" name="decisionDateInput" ng-model="caseStatus.decisionDate" ng-change="calcTimelyDecision()" min="{{caseStatus.receivedDate | date:'yyyy-MM-ddTHH:mm'}}" max="2020-12-31T00:00" required />
			  <div role="alert">
					<span class="label label-danger col-md-12" ng-show="caseForm.decisionDateInput.$error.required">
						<h5>Required! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<span class="label label-danger col-md-12" ng-show="caseForm.decisionDateInput.$error.datetimelocal">
						<h5>Not a valid date! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<div ng-show="caseStatus.dueDate && !caseForm.decisionDateInput.$pristine">
						<span class="label label-success col-md-12" ng-show="caseStatus.timelyDecision">
							<h5>Your decision was timely <i class="glyphicon glyphicon-ok"></i></h5>
						</span>
						<span class="label label-warning col-md-12" ng-show="!caseStatus.timelyDecision">
							<h5>Your decision doesn't look timely <i class="glyphicon glyphicon-warning-sign"></i></h5>
						</span>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-md-6" ng-show="caseStatus.decision === 'Approved'">
			<div class="well">
			  <label for="effectuationDateInput" class="col-md-6">Effectuation Date/Time</label>
			  <input type="datetime-local" class="col-md-6" id="effectuationDateInput" name="effectuationDateInput" ng-model="caseStatus.effectuationDate" ng-change="calcTimelyEffectuation()" min="{{caseStatus.receivedDate | date:'yyyy-MM-ddTHH:mm'}}" max="2020-12-31T00:00" ng-required="caseStatus.decision === 'Approved'">
			  <div role="alert">
					<span class="label label-danger col-md-12" ng-show="caseForm.effectuationDateInput.$error.required">
						<h5>Required! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<span class="label label-danger col-md-12" ng-show="caseForm.effectuationDateInput.$error.datetimelocal">
						<h5>Not a valid date! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<div ng-show="caseStatus.dueDate && !caseForm.effectuationDateInput.$pristine">
						<span class="label label-success col-md-12" ng-show="caseStatus.timelyEffectuation">
							<h5>Your effectuation was timely <i class="glyphicon glyphicon-ok"></i></h5>
						</span>
						<span class="label label-warning col-md-12" ng-show="!caseStatus.timelyEffectuation">
							<h5>Your effectuation doesn't look timely <i class="glyphicon glyphicon-warning-sign"></i></h5>
						</span>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
			  <label for="oralNotificationDateInput" class="col-md-6">Oral Notification Date/Time</label>
			  <input type="datetime-local" class="col-md-6" id="oralNotificationDateInput" name="oralNotificationDateInput" ng-model="caseStatus.oralNotificationDate" ng-change="calcTimelyOralNotification()" min="{{caseStatus.receivedDate | date:'yyyy-MM-ddTHH:mm'}}" max="2020-12-31T00:00">
			  <div role="alert">
					<span class="label label-danger col-md-12" ng-show="caseForm.oralNotificationDateInput.$error.required">
						<h5>Required! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<span class="label label-danger col-md-12" ng-show="caseForm.oralNotificationDateInput.$error.datetimelocal">
						<h5>Not a valid date! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<div ng-show="caseStatus.dueDate && !caseForm.oralNotificationDateInput.$pristine">
						<span class="label label-success col-md-12" ng-show="caseStatus.timelyOralNotification">
							<h5>Your oral notification was timely <i class="glyphicon glyphicon-ok"></i></h5>
						</span>
						<span class="label label-warning col-md-12" ng-show="!caseStatus.timelyOralNotification">
							<h5>Your oral notification doesn't look timely <i class="glyphicon glyphicon-warning-sign"></i></h5>
						</span>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
			  <label for="writtenNotificationDateInput" class="col-md-6">Written Notification Date/Time</label>
			  <input type="datetime-local" class="col-md-6" id="writtenNotificationDateInput" name="writtenNotificationDateInput" ng-model="caseStatus.writtenNotificationDate" ng-change="calcTimelyWrittenNotification()" min="{{caseStatus.receivedDate | date:'yyyy-MM-ddTHH:mm'}}" max="2020-12-31T00:00" required />
			  <div role="alert">
					<span class="label label-danger col-md-12" ng-show="caseForm.writtenNotificationDateInput.$error.required">
						<h5>Required! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<span class="label label-danger col-md-12" ng-show="caseForm.writtenNotificationDateInput.$error.datetimelocal">
						<h5>Not a valid date! <i class="glyphicon glyphicon-warning-sign"></i></h5>
					</span>
					<div ng-show="caseStatus.dueDate && !caseForm.writtenNotificationDateInput.$pristine">
						<span class="label label-success col-md-12" ng-show="caseStatus.timelyWrittenNotification">
							<h5>Your written notification was timely <i class="glyphicon glyphicon-ok"></i></h5>
						</span>
						<span class="label label-warning col-md-12" ng-show="!caseStatus.timelyWrittenNotification">
							<h5>Your written notification doesn't look timely <i class="glyphicon glyphicon-warning-sign"></i></h5>
						</span>
					</div>
			  </div>
			</div>
		</div>
	</form>
	<div class="row well" ng-show="caseStatus.dueDate">
		<div class="col-md-6">
		  <h4>This case must have been closed by {{caseStatus.dueDate | date: "medium"}}</h4>
		  <tt>caseForm.$valid = {{caseForm.$valid}}</tt><br>
		  <tt>caseForm.$error.required = {{!!caseForm.$error.required}}</tt>
		</div>
			<div class="col-md-6" ng-show="caseStatus.decision === 'Approved'">
				<label for="extendedApprovalInput">Would you like to evaluate timeliness based on Approval within 24 hours?</label>
				<button type="button" class="btn btn-primary" ng-model="caseStatus.extendApproval" uib-btn-checkbox btn-checkbox-true="'YES'" btn-checkbox-false="'NO'" ng-change="validateDueDate()">{{caseStatus.extendApproval}}</button>
				<input type="checkbox" ng-model="caseStatus.extendApproval" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="validateDueDate()">
			</div>
	</div>
</div>