<div ng-controller="importUniverse as import">
	<form layout="column" layout-margin>
		<div flex>
			<md-radio-group ng-model="import.caseType" aria-label="caseType" ng-change="import.makeUniverseType(import.caseType, import.universeExpedited, import.universeException, import.universeReimbursement); import.changeLabels('caseType')" md-autofocus="" required>
				<md-radio-button value="CD">Coverage Determination</md-radio-button>
				<md-radio-button value="RD">Redetermination</md-radio-button>
			</md-radio-group>
		</div>

		<div flex>
	    <md-switch ng-disabled="import.universeReimbursement && caseType === 'CD'" ng-model="import.universeExpedited" aria-label="universeExpedited" ng-change="import.makeUniverseType(import.caseType, import.universeExpedited, import.universeException, import.universeReimbursement); import.changeLabels('universeExpedited')">{{import.labels.priority}}</md-switch>
	  </div>

		<div flex>
	    <md-switch ng-disabled="import.caseType === 'RD' || import.universeReimbursement" ng-model="import.universeException" aria-label="universeException" ng-change="import.makeUniverseType(import.caseType, import.universeExpedited, import.universeException, import.universeReimbursement); import.changeLabels('universeException')">{{import.labels.exception}}</md-switch>
	  </div>

		<div flex>
	    <md-switch ng-disabled="import.universeException" class="md-primary" ng-model="import.universeReimbursement" aria-label="universeReimbursement" ng-change="import.makeUniverseType(import.caseType, import.universeExpedited, import.universeException, import.universeReimbursement); import.changeLabels('universeReimbursement')">{{import.labels.reimbursement}}</md-switch>
	  </div>

		<div flex>
	    <md-switch ng-model="import.universeExtendedApproval" aria-label="universeExtendedApproval" ng-change="import.makeUniverseType(import.caseType, import.universeExpedited, import.universeException, import.universeReimbursement); import.changeLabels('universeExtendedApproval')">{{import.labels.extendApproval}}</md-switch>
	  </div>

	  <div flex ng-show="import.universeType">
	  	<h4>You can upload your <b>{{import.universeType}}</b> universe now.</h4>
	  </div>

  	<input aria-label="fileUpload" type="file" on-read-file="import.parseInputFile($fileContents, import.caseType, import.universeExpedited, import.universeException, import.universeExtendedApproval, import.universeReimbursement)">
	</form>
</div>