<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<a href="#/universe">
				<button>Back to Universe</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>First Name</label>
			{{universeDetailCtrl.selectedRequest['Beneficiary First Name']}}
		</div>
		<div class="col-md-2">
			<label> Timely Decision</label>
			{{universeDetailCtrl.selectedRequest.timelyDecision}}
		</div>
		<div class="col-md-2">
			<label>Timely Effectuation</label>
			{{universeDetailCtrl.selectedRequest.timelyEffectuation}}
		</div>
		<div class="col-md-2">
			<label>Timely Oral Notice</label>
			{{universeDetailCtrl.selectedRequest.timelyOralNotification}}
		</div>
		<div class="col-md-3">
			<label>Timely Written Notice</label>
			{{universeDetailCtrl.selectedRequest.timelyWrittenNotification}}
		</div>
	</div>
</div>